bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
artifacts/

# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Secrets and AppSettings
appsettings.json
appsettings.Development.json
*.pem

# Temporary Files and Logs
*.log
*out.txt
TmpAwsFind/
Mozart*.json
response.json
feature_comparison.md
.rtk/filters.toml

# Environment variables
.env
